@font-face {
    font-family: "glyph";
    src: url("../fonts/glyphicons-halflings-regular.woff") format('woff');
}
.glyphicon {
	font-family:glyph;
	position:relative;
	top:4px;
}
a .glyphicon {
	text-decoration:none;
	color:inherit;
}

a {
	text-decoration:none;
	color:black;
}

.cleared { clear: both; }
.hidden { display: none !important; }
.button:hover { cursor: pointer; }

.responsiveHeight {	position:absolute; top:0; left:0; width:1920px; height:1080px; }

html, body {
	height: 1080px;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	overflow:hidden;
	color:#666;
	background-color:#333;
}

#main-container { position:absolute; top:0; left:0; width:1920px; height:1080px; overflow: hidden; background: white; }
.container { position:absolute; top:0; left:0; }
/* OVERLAY LAYER */
#overlay { z-index: 1000; background: pink; }

/* NAV LAYER */
#navigation {  z-index: 900;  }
	#main-control { width: 0; height: 40px; position: absolute; left: 900px; top: 1050px; background: purple; text-align: center; }
	
	/* HOMES */
	#homes-filter-container { position: absolute; bottom: 0px; left: -900px; width: 1920px; padding: 0px; text-align: center; opacity: 0; }
	.homes {  padding: 10px; background: #e3e3e3; display: inline-table; }
	.homes:hover { cursor: pointer; }
		.homesImg { width: 200px; height: 80px; background: #fff; display: block; }
		.homesImg > img { width: 200px; height: auto; }
		.homesTitle { font-weight: bold; display: block; }

/* CONTENT LAYER */
#content { z-index: 800; width: 1920px; height: 1080px; overflow: hidden; }